<ng-container>
  <div class="mx-4 md:container md:mx-auto mt-4">
    <div *ngIf="userRepos; else loaderContainer">
      <div
        *ngIf="userRepos && userRepos.length > 0; else noRepos"
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      >
        <div
          *ngFor="
            let repo of userRepos
              | paginate
                : {
                    id: 'custom-pagination-id',
                    itemsPerPage: reposPerPage,
                    currentPage: page,
                    totalItems: totalRepos
                  }
          "
          class="relative border bg-white rounded-md hover:border hover:border-blue-500 p-4 w-full shadow-md"
        >
          <div class="flex gap-3 items-center mb-[0.5rem]">
            <a
              [href]="repo.html_url"
              class="text-xl font-semibold text-blue-500"
              >{{ repo.name }}</a
            >
            <span
              class="border rounded-full flex items-center text-sm font-medium px-3 py-1 border-gray-300"
              >{{ repo.visibility }}</span
            >
          </div>
          <p *ngIf="repo.description" class="text-sm mb-2">
            {{
              repo.description.length > 100
                ? repo.description.slice(0, 100) + "..."
                : repo.description
            }}
          </p>
          <div
            class="flex flex-wrap gap-2 my-1 h-[30px] mb-[2rem]"
            *ngIf="repo.topics && repo.topics.length > 0"
          >
            <span
              *ngFor="let topic of repo.topics.slice(0, 3)"
              class="px-4 py-0 bg-blue-200 text-blue-600 text-sm font-medium rounded-full flex item-center justify-center"
              >{{ topic }}</span
            >
          </div>
          <div
            class="flex flex-wrap gap-2 my-2 h-[30px] mb-[2rem]"
            *ngIf="!repo.topics || (repo.topics.length === 0 && repo.language)"
          >
            <span
              class="px-4 py-0 bg-blue-200 text-blue-600 text-sm font-medium rounded-full flex items-center justify-center"
            >
              {{ repo.language }}
            </span>
          </div>
          <div
            class="absolute bottom-[1rem] left-[1rem] flex justify-between items-center text-sm w-[90%]"
          >
            <div
              *ngIf="repo.language"
              class="flex items-center font-medium mr-3"
            >
              <span class="mr-[3px]">Lang:</span>{{ repo.language }}
            </div>
            <span>Updated On:{{ formatDate(repo.updated_at) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loaderContainer>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div
      *ngFor="let index of getRange(reposPerPage)"
      class="border bg-white rounded-md hover:border hover:border-blue-500 p-4 w-full shadow-md"
    >
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{ height: '60px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
      ></ngx-skeleton-loader>
      <div class="flex justify-between w-full">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          animation="pulse"
          [theme]="{ width: '100px' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          animation="pulse"
          [theme]="{ width: '100px' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noRepos>
  <div class="w-full text-center">No Repos to display</div>
</ng-template>
